/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    
    border: 1px solid #888;
    width: 80%;
}

/* Modal Header (Title) */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body (Text and Inputs) */
.modal-body {
    padding: 20px;
    background-color: white;
    color: black;
}

* {
    box-sizing: border-box;
}

.main-menu {
    background-color:#5cb85c;
    padding: 20px;
    font-size: 32px;
}

.main-menu-buttons {
    float: right;
}

.main-menu button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}
  
/* Clear floats after the columns */
.container:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.filters-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.filters-list li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.filters-list li a:hover {
    background-color: #555;
    color: white;
  }

.sublinks-list {
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 100px;
}

.sublinks-list button {
    background-color: #5cb85c; 
    border: none; 
    color: white; 
    padding: 10px;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.sublinks-list input {
    margin: 5px;
    border: none; 
    padding: 10px;
}

.sublinks-list input:focus {
    outline: none !important;
    box-shadow: 0 0 10px #5cb85c;
  }

